.DS_Store

entrega_1/artifacts/andromeda/andromeda.png
entrega_1/artifacts/best-intro/best-intro.wav
entrega_1/artifacts/cartwheel/cartwheel.tiff
entrega_1/artifacts/lactea/lactea.jpg
entrega_1/artifacts/myzip/myzip.zip
entrega_1/artifacts/nmap/nmap
entrega_1/artifacts/poster/poster.pdf
entrega_1/artifacts/tagus/tagus.png
entrega_1/artifacts/thrones/thrones.pdf

**/Original Artifacts/
